<!doctype html>
<%-include('header')-%>
<html lang="en">
  <head>
  	<title>SETTING</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="bootstrap-buttons-16/css/ionicons.min.css">
		<link rel="stylesheet" href="bootstrap-buttons-16/css/style.css">
  </head>
  <body style="background-color: #DEDDF0; ">

		<section class="ftco-section" id="buttons">
			<div class="container">
        <div class="row">
				<div class="row mb-4">
					<div class="col-md-12">
						<h2 class="heading-section" > Setting <span style="color:#FF00CC;"> #Demo</span> </h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 mb-3">
				<a href="/Nproducts">		<button type="button" class="btn btn-white w-100 align-items-stretch d-flex">
							<div class="icon icon-left icon-primary d-flex align-items-center justify-content-center">
								<i class="ion-ios-brush"></i>
							</div>
							<div class="text text-right">
								<h5>#1</h5>
								<span> <h3><b> تعريف البضاعة  </b></h3> </span>
							</div>
						</button></a>
					</div>
					<div class="col-md-3 mb-3">
					<button type="button" class="btn btn-white w-100 align-items-stretch d-flex">
							<div class="icon icon-left icon-secondary d-flex align-items-center justify-content-center">
								<i class="ion-ios-chatboxes"></i>
							</div>
							<div class="text text-right">
								<h4>  #2 </h4> <br>
                <span> <h3> <b> فواتير </b> </h3> </span>
							</div>
						</button>
					</div>
					<div class="col-md-3 mb-3">
					<a href="/store"><button type="button" class="btn btn-white w-100 align-items-stretch d-flex">
							<div class="icon icon-left icon-tertiary d-flex align-items-center justify-content-center">
								<i class="ion-ios-pulse"></i>
							</div>
							<div class="text text-right">
								<h4>#3 </h4> <br>
								<span><h3> <b>المخزن</b> </h3>  </span>
							</div>
						</button></a>
					</div>
					<div class="col-md-3 mb-3">
				<a href="/addproducts">		<button type="button" class="btn btn-white w-100 align-items-stretch d-flex">
							<div class="icon icon-left icon-quarternary d-flex align-items-center justify-content-center">
								<i class="ion-ios-people"></i>
							</div>
							<div class="text text-right">
								<h4>#4</h4>
								<span>  <h3> <b>إضافة كمية</b> </h3> </span>
							</div>
						</button> </a>
					</div>

					<div class="col-md-3 mb-3">
					<a href="/back">	<button type="button" class="btn btn-white w-100 align-items-stretch d-flex">
							<div class="text text-left">
								<h4>#5</h4> <br>
								<span> <h3> <b>  المرتجع </b> </h3> </span>
							</div>
							<div class="icon icon-right icon-quarternary d-flex align-items-center justify-content-center">
								<i class="ion-ios-brush"></i>
							</div>
						</button></a>
					</div>
					<div class="col-md-3 mb-3">
					<a href="/day">	<button type="button" class="btn btn-white w-100 align-items-stretch d-flex">
							<div class="text text-left">
								<h4>#6</h4> <br>
								<span><h3> <b> الحسابات </b> </h3>  </span>
							</div>
							<div class="icon icon-right icon-primary d-flex align-items-center justify-content-center">
								<i class="ion-ios-chatboxes"></i>
							</div>
						</button></a>
					</div>
					<div class="col-md-3 mb-3">
					<a href="/trade">	<button type="button" class="btn btn-white w-100 align-items-stretch d-flex">
							<div class="text text-left">
								<h4>#7</h4><br>
								<span>  <h3>  <b> حساب تجار </b> </h3>  </span>
							</div>
							<div class="icon icon-right icon-secondary d-flex align-items-center justify-content-center">
								<i class="ion-ios-pulse"></i>
							</div>
						</button></a>
					</div>
					<div class="col-md-3 mb-3">
				<a href="/storeEnd">		<button type="button" class="btn btn-white w-100 align-items-stretch d-flex">
							<div class="text text-left">
								<h4>#8</h4>
								<span> <h3> <b>  أوشكت على الأنتهاء </b> </h3>  </span>
							</div>
							<div class="icon icon-right icon-tertiary d-flex align-items-center justify-content-center">
								<i class="ion-ios-pricetag"></i>
							</div>
						</button></a>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3 mb-3">
				<a href="/update">		<button type="button" class="btn btn-primary w-100 align-items-stretch d-flex">
							<div class="icon icon-left d-flex align-items-center justify-content-center">
								<i class="ion-ios-brush"></i>
							</div>
							<div class="text text-right">
								<h2>#9</h2>
								<span> <h3> تحديث بيانات  </h3></span>
							</div>
						</button></a>
					</div>
					<div class="col-md-3 mb-3">
				<a href="/nasryat">	<button type="button" class="btn btn-secondary w-100 align-items-stretch d-flex">
							<div class="icon icon-left d-flex align-items-center justify-content-center">
								<i class="ion-ios-chatboxes"></i>
							</div>
							<div class="text text-right">
								<h2>#10</h2>
								<span> <h3> نثريات  </h3></span>
							</div>
						</button></a>
					</div>
					<div class="col-md-3 mb-3">
		<a href="/config">				<button type="button" class="btn btn-tertiary w-100 align-items-stretch d-flex">
							<div class="icon icon-left d-flex align-items-center justify-content-center">
								<i class="ion-ios-pulse"></i>
							</div>
							<div class="text text-right">
								<h4>#11</h4>
								<span>total product</span>
							</div>
						</button></a>
					</div>
					<div class="col-md-3 mb-3">
						<button type="button" class="btn btn-quarternary w-100 align-items-stretch d-flex">
							<div class="icon icon-left d-flex align-items-center justify-content-center">
								<i class="ion-ios-people"></i>
							</div>
							<div class="text text-right">
								<h4>#12</h4>
								<span>Total Visits</span>
							</div>
						</button>
					</div>

					<div class="col-md-3 mb-3">
						<button type="button" class="btn btn-quarternary w-100 align-items-stretch d-flex">
							<div class="text text-left">
								<h4>#13</h4>
								<span>New PLane</span>
							</div>
							<div class="icon icon-right d-flex align-items-center justify-content-center">
								<i class="ion-ios-briefcase"></i>
							</div>
						</button>
					</div>
					<div class="col-md-3 mb-3">
						<button type="button" class="btn btn-primary w-100 align-items-stretch d-flex">
							<div class="text text-left">
								<h4>#14</h4>
								<span>New Clients</span>
							</div>
							<div class="icon icon-right d-flex align-items-center justify-content-center">
								<i class="ion-ios-people"></i>
							</div>
						</button>
					</div>


				</div>
			</div>
      </div>
	  </section>
	  <!-- - - - - -end- - - - -  -->

    <script src="bootstrap-buttons-16/js/jquery.min.js"></script>
    <script src="bootstrap-buttons-16/js/popper.js"></script>
    <script src="bootstrap-buttons-16/js/bootstrap.min.js"></script>
    <script src="bootstrap-buttons-16/js/main.js"></script>
  </body>
</html>
